
<h1> Administration </h1>

<h2> Neue Nutzer </h2>
<%= link_to 'Email Adressen verschlüsseln' , encrypt_administration_index_path %>
<table>
  <%@new_users.each do |u|%>
    <tr>
      <td> <%= u.last_name %>, <%=u.first_name%> </td>
      <td> <%= u.email %> </td>
    </tr>
    <%end%>
</table>
<h2> Alte Nutzer </h2>
<table>
  <%@users.each do |u|%>
    <tr>
      <td> <%= u.last_name %>, <%=u.first_name%> </td>
      <td> <%= link_to 'Nutzer Entfernen', user_path(u.id), :method => :delete %> </td>
    </tr>
    <%end%>
</table>
<h2> Anzahl der Bewertungen </h2>
<table>
  <tr>
    <th> Anzahl </th>
    <th> Durchschnitt </th>
    <th> Nummer </th>
    <th> Text </th>
  </tr>
  <%@topics.each do |t| %>
    <tr> 
      <td> <%= t.votecount %> </td>
      <td> <%= t.rating %> </td>
      <td> <%= t.id %> </td>
      <td> <%= t.body %> </td>
    </tr>
    <%end%>
  </table>
