
<%= form_for @topic do |f| %>
 <%= f.hidden_field :id %> 
 <p> 
 <h2> Titel </h2>
 <%= f.text_field :title, cols: 100, rows: 1 %> </br>
 </p>
 <p> 
 <h2> Inhalt </h2>
 <%= f.text_area :body, cols: 100, rows: 4 %>
 </p>
 <%= f.submit 'Änderung Speichern' %>
<% end %>

<div id="all_comments">
  <% even = false %>
  <% @comments.each do |c| %>
    <% if even %>
      <div class="comment" style="background-color:#dddddd" >
    <%else%>
      <div class="comment"  >
    <%end%>
      <span class="comment_body">
        <%= simple_format c.body %>
      </span> - 
      <span class="comment_author">
        <%= c.user.first_name %> <%= c.user.last_name%>, <%=c.created_at %>
      </span>
    </div>
  <% even = !even %>
  <% end %>

</div>
