
<h1> Thema <%= @topic.title %></h1>

<div id="topic_body">
  <%= @topic.body %>
</div>
<% if current_user %>
  <div id="new_vote">
    <%= render :partial => 'votes/form' %>
  </div>
  <div id="new_comment">
    <%= render :partial => 'comments/form' %>
  </div>
<%end%>
<div id="all_comments">
  <% @comments.each do |c| %>
  <div class="comment">
    <span class="comment_body">
      <%= c.body %>
    </span> - 
    <span class="comment_author">
      <%= c.user.first_name %> <%= c.user.last_name%>, <%=c.created_at %>
    </span>
  </div>
  <% end %>

</div>
