<!DOCTYPE html>
<html>
<head>
  <title>Kwp14</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="top_bar" >
    <span class="top_bar_element"> <%= link_to 'start', topics_path %> </span>
    <span class="top_bar_element"> suche </span>
    <span class="top_bar_element"> soriere </span>
    <span class="top_bar_element"> filter </span>
    <% if current_user %>
      <span class="top_bar_element"> <%= link_to 'log out', :logout %> </span>
    <% else %>
      <span class="top_bar_element"> <%= link_to 'log in', new_user_session_path %> </span>
      <span class="top_bar_element"> <%= link_to 'registrieren', new_user_path %> </span>
    <%end%>
  </div>

  <div id="side bar">
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
